<div class="modal-header">
    <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title">Configuration</h2>
</div>
<div class="modal-body">
    <h3>Configure CoolStore using the following options</h3>
    <hr>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="threshold">Low Inventory Threshold</label>
            <div class="col-sm-4">
                <input type="range" min="10" max="100" ng-model="threshold" step="1" id="threshold" class="form-control">
                <div style="text-align: center">{{threshold}} units</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="sms">SMS Phone Number for Notifications</label>
            <div class="col-sm-4">
                <input type="text" id="sms" ng-model="sms" class="form-control"></div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <hr>
    <button type="button" class="btn btn-default" ng-click="$close()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="save();">Save and Close</button>
</div>